@font-face {
  font-family: "Newcomen";
  src: url("../NewcomenRegular/font.woff") format("woff");
}
body {
  background-color: black;
  padding: 0px 75px 0px 75px;
  font-family: "Iowan Old Style";
}

p {
  color: #D8D2C3;
  font-family: "Iowan Old Style";
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
}

h1 {
  color: #FFBB25;
  font-family: "Mrs Saint Delafield";
  font-size: 5vw;
  font-style: normal;
  font-weight: 400;
  /*     line-height: 80%; /* 96px */
  text-align: start;
}

h2 {
  color: white;
  font-family: "Newcomen";
  font-size: 2.8vw;
  font-style: normal;
  display: inline;
  /*     line-height: 0%; */
  overflow-wrap: break-word;
}

h3 {
  color: #FFBB25;
  font-family: "Bellefair";
  font-size: 2.7vw;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 28px */
  /*     margin: auto; */
  text-align: left;
}

h4 {
  font-family: "Bellefair";
  font-size: 2.4vw;
  color: white;
  text-align: center;
}

.nearEmphasis {
  display: inline;
}

.emphasis {
  color: #FFBB25;
  /*     font-weight: bold; */
  display: inline;
}

.infoIcon {
  display: inline;
  height: 1.3em;
  padding-right: 0.5em;
}

.myAccordion {
  margin-top: 1em;
}

.myAccordion button {
  background-color: #D8D2C3;
  color: black;
}

.myAccordion button img {
  color: #55534C;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: #FFBB25;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.myGridSection {
  align-items: center;
}

.myNav {
  /* margin: 0; */
  /* padding: 0; */
  padding-top: 2vh;
  flex-direction: row;
}

.myTopContainer {
  /*     @include my-grid(); */
  padding-top: 5vh;
}

.alignVert {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

ul {
  list-style-image: url(../images/bullet1.svg);
  padding-top: 1em;
}

li {
  padding-left: 1em;
}

li p {
  color: #AEAEAE;
  font-family: "Iowan Old Style";
  font-size: 0.9em;
}

.standardUL {
  list-style-image: url(../images/bullet1.svg);
}

.standardUL li {
  padding-left: 1em;
}

.biggerUL {
  list-style-image: url(../images/bullet1.svg);
}

.biggerUL li {
  padding-left: 1em;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.biggerUL li p {
  color: #D8D2C3;
  font-family: "Iowan Old Style";
  font-size: 1em;
}

.myButton {
  font-family: "Bellefair";
  background-color: #FFBB25;
  color: #55534C;
  border-color: #D8D2C3;
}

.myNav a {
  font-family: "Bellefair";
  font-size: 2vw;
  color: #FFBB25;
  font-size: 1.3em;
}

.myNav a:active {
  color: #AEAEAE;
}

.myButton:hover {
  background-color: #55534C;
  color: #D8D2C3;
  border-color: #FFBB25;
}

.myNav a:hover {
  color: #55534C;
  background-color: #FFBB25;
}

.myCardSmol {
  background-color: #55534C;
}

.myDropdownItem a {
  color: #55534C;
}

.myDropdownItem a:hover {
  background-color: #FFBB25;
}

/* Summary block */
#summaryBlock {
  margin-bottom: 3vh;
}

#protoCarousel2 {
  padding-top: 5.6vw;
}

.realMyTab {
  font-family: "Newcomen";
  font-size: 2.7vw;
  color: #FFBB25;
}

.realMyTab button {
  color: #FFBB25;
}

.myImage img {
  width: 100%;
  padding: 2em;
}

.myImageSmol img {
  width: 60%;
  height: auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  margin-left: auto;
  margin-right: auto;
}

.shiftOpacity {
  opacity: 60%;
}

.subSection {
  padding-top: 5vh;
}

/* Break formatting */
#break2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -moz-column-gap: 16px;
       column-gap: 16px;
  grid-template-areas: "triangle1 . . star1 cunifText cunifText cunifText cunifText star2 . . triangle2";
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.breakStar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.breakStar img {
  width: 90%;
  height: auto;
  padding: 20px;
  /*     align-self: end; */
  opacity: 30%;
}

#tri1 {
  grid-area: triangle1;
}

#tri1 img {
  rotate: 180deg;
}

#st1 {
  grid-area: star1;
}

#cuniText {
  grid-area: cunifText;
  rotate: 180deg;
}

#cuniText img {
  width: 100%;
}

#st2 {
  grid-area: star2;
}

#tri2 {
  grid-area: triangle2;
}

/* Footer formatting */
.contact {
  width: 100%;
  padding-top: 1vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 30% 70%;
  -moz-column-gap: 16px;
       column-gap: 16px;
  grid-template-areas: "header header header header header header header header header . . ." ". . . socials socials socials . quill quill . . .";
}

.contactGrid {
  display: flex;
  justify-content: center;
  align-items: center;
}

#cTitle {
  grid-area: header;
  min-height: -moz-fit-content;
  min-height: fit-content;
  padding-bottom: 1vh;
}

#cQuill {
  grid-area: quill;
}

#cText {
  grid-area: socials;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  -moz-column-gap: 16px;
       column-gap: 16px;
  grid-template-areas: "sText sText sText sText" "sli sli sli sli" "sem sem sem sem";
}

#cText p {
  margin: 0;
}

#sText {
  grid-area: sText;
}

#sli {
  grid-area: sli;
}

#sem {
  grid-area: sem;
}

.fLinks {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.greyDash img {
  width: 100%;
  height: auto;
}

.extIcon img {
  height: 2vh;
  width: auto;
}

.line {
  flex-grow: 1;
  height: 0px;
  border-style: solid;
  border-color: #FFBB25;
  border-width: 2px;
}/*# sourceMappingURL=style.css.map */