$bg-color: black;
$tangerine: #FFBB25;
$lt-smoke-grey: #D8D2C3;
$md-grey: #AEAEAE;
$dk-smoke-grey: #55534C;

$h1-font: "Mrs Saint Delafield";
$display-font: "Uncial Antiqua";
$h3-font: "Bellefair";
$p-font: "Iowan Old Style";

$h1-size: 5vw;
$h2-size: 2.8vw;
$h3-size: 2.7vw;
$h4-size: 2.4vw;
$h5-size: 2vw;
$nav-size: 1.3em;
$p-size: 1em;
$sm-P-size: 0.9em;
$img-fill: 100%;

$container-top-pad: 5vh;


@mixin my-grid {
$grid-gutter-width: 16px;
$bs-gutter-x: 0;
margin: 0;
padding: 0;
}

@mixin my-ul {
    display: flex;
/*     flex-direction: column; */
    justify-content: flex-end;
    align-items: flex-start;
    list-style-image: url(../images/bullet1.svg);
}

@mixin my-li {
    padding: 1em 1em 2em 1em;
    flex-direction: column;
   align-self: flex-start;
    gap: 5px;
   flex: 1 0 0;
}

@mixin my-tab {
    font-family: $h3-font;
    font-size: $h5-size;
    color: $tangerine;
}

body {
    background-color: $bg-color;
    padding: 0px 75px 0px 75px;  
}
p {
    color: $lt-smoke-grey;
    font-family: $p-font;
    font-size: $p-size;
    font-style: normal;
    font-weight: 400;
}
h1 {
    color: $tangerine;
    font-family: $h1-font;
    font-size: $h1-size;
    font-style: normal;
    font-weight: 400;
/*     line-height: 80%; /* 96px */ 
    text-align: start;
}
h2 {
    color: white;
    font-family: $display-font;
    font-size: $h2-size;
    font-style: normal;
    display: inline;
/*     line-height: 0%; */
    overflow-wrap: break-word;
}

h3 {
    color: $tangerine;
    font-family: $h3-font;
    font-size: $h3-size;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 28px */
/*     margin: auto; */
    text-align: left;
}

h4 {
    font-family: $h3-font;
    font-size: $h4-size;
    color: white;
}

.myGridSection {
    align-items: center;
}

.myNav {
    @include my-grid;
    padding-top: 2vh;
    flex-direction: row;
}

.myTopContainer {
/*     @include my-grid(); */
    padding-top: $container-top-pad;
}

.alignVert {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

li p {
    color: $md-grey;
    font-family: $p-font;
    font-size: $sm-P-size;
}

.standardUL {
    list-style-image: url(../images/bullet1.svg);
}

.standardUL li {
    padding-left: 1em;
}

.biggerUL {
    list-style-image: url(../images/bullet1.svg);
}

.biggerUL li {
    padding-left: 1em;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.biggerUL li p {
    color: $lt-smoke-grey;
    font-family: $p-font;
    font-size: $p-size;
}

.myButton {
    font-family: $h3-font;
    background-color: $tangerine;
    color: $dk-smoke-grey;
    border-color: $lt-smoke-grey;
}

.myNav a {
 @include my-tab();
 font-size: $nav-size;
}

.myNav a:active {
    color: $md-grey;
}

.myButton:hover {
    background-color: $dk-smoke-grey;
    color: $lt-smoke-grey;
    border-color: $tangerine;
}


.myNav a:hover {
    color: $dk-smoke-grey;
    background-color: $tangerine;
}

.myCardSmol {
    background-color: $dk-smoke-grey;
}

.myDropdownItem a {
    color: $dk-smoke-grey;
}

.myDropdownItem a:hover {
    background-color: $tangerine;
}

/* Summary block */
#summaryBlock {
     margin-bottom: 3vh;
}

#protoCarousel2 {
    padding-top: calc($h2-size + $h2-size);
}

.realMyTab {
    font-family: $display-font;
    font-size: $h3-size;
    color: $tangerine;
}

.realMyTab button {
    color: $tangerine;
}

.myImage img {
    width: $img-fill;
    padding: 2em;
}

.shiftOpacity {
    opacity: 60%;
}

.subSection {
    padding-top: $container-top-pad;
}

/* Break formatting */
#break2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    grid-template-areas: "triangle1 . . star1 cunifText cunifText cunifText cunifText star2 . . triangle2";
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.breakStar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.breakStar img {
    width: 90%;
    height: auto;
    padding: 20px;
/*     align-self: end; */
    opacity: 30%;
}

#tri1 {
    grid-area: triangle1;
}

#tri1 img {
    rotate: 180deg;
}

#st1 {
    grid-area: star1;
}

#cuniText {
    grid-area: cunifText;
    rotate: 180deg;
}

#cuniText img {
    width: 100%;
}


#st2 {
    grid-area: star2;
}

#tri2 {
    grid-area: triangle2;
}

/* Footer formatting */
.contact {
    width: 100%;
    padding-top: 1vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 30% 70%;
    column-gap: 16px;
    grid-template-areas: "header header header header header header header header header . . ."
                        ". . . socials socials socials . quill quill . . .";
}

.contactGrid{
    display: flex;
    justify-content: center;
    align-items: center;
}

#cTitle {
    grid-area: header;
    min-height: fit-content;
    padding-bottom: 1vh;
}

#cQuill {
    grid-area: quill;
}

#cText {
    grid-area: socials;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 16px;
    grid-template-areas: "sText sText sText sText"
                        "sli sli sli sli"
                        "sem sem sem sem";
    
}

#cText p {
    margin: 0;
}

#sText {
    grid-area: sText;
}

#sli {
    grid-area: sli;
}

#sem {
    grid-area: sem;
}

.fLinks {
    display: flex;
align-items: center;
gap: 10px;
justify-content: space-between;
}

.greyDash img {
    width: 100%;
    height: auto;
}

.extIcon img {
    height: 2vh;
    width: auto;
}