body {
    background-color: black;
    padding: 0px 75px 0px 75px;
}

/*  .content {
display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: ;
    column-gap: 16px;
    grid-template-areas: "xyz";
    margin-top: 3vh;
    padding-bottom: 2vh;
    border-bottom: #FFBB25;
    border-style: dotted;
    border-width: 1px;

}   */

.gridBlocks {
    display: flex;
    justify-content: start;
}    

a {
    color: #D8D2C3;
}

a:hover {
    color: dimgray;
}

.myButton {
    background-color: #FFBB25;
    font-family: "Iowan Old Style";
    font-size: 1.7vmin;
    --bs-btn-bg: dimgray;
    --bs-btn-border-color: dimgray;
    --bs-btn-hover-bg: dimgray;
    --bs-btn-hover-border-color: dimgray;
    color: #55534C;
}

p {
    color: var(--Lt-warm-grey, #D8D2C3);
    font-family: "Iowan Old Style";
    font-size: 1.7vmin;
    font-style: normal;
    font-weight: 400;
}

h1 {
    color: var(--Tangerine, #FFBB25);
    font-family: "Mrs Saint Delafield";
    font-size: var(--H1, 5vw);
    font-style: normal;
    font-weight: 400;
    line-height: 80%; /* 96px */
    text-align: center;
    margin: 0;
}

h2 {
    color: var(--White, #FFF);
    font-family: Uncial Antiqua;
    font-size: 3.5vh;
    font-style: normal;
    display: inline;
}

h3 {
    color: var(--Tangerine, #FFBB25);
    font-family: Bellefair;
    font-size: var(--h3, 3vh);
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 28px */
    margin: auto;
    text-align: left;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    list-style-image: url(../images/bullet1.svg);
 }
 
li {
     padding: 10px 20px 20px 20px;
     flex-direction: column;
    align-self: flex-start;
     gap: 5px;
    flex: 1 0 0;
}

.myCardSmol {
    --bs-card-bg: #55534C;
}

.h3Title {
    display: flex;
    align-items: center;
    gap: 10px;
}

#pageHeader { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 4vh;
    grid-template-areas: "secTitle pTitle pTitle pTitle pTitle pTitle . . . . . ."
         ". . . su su text1 text1 text1 text1 bull bull bull"
         ". . . su su text1 text1 text1 text1 bull bull bull";
    margin-top: 3vh;
    padding-bottom: 1vh;
/*     border-bottom: #FFBB25;
    border-style: dotted;
    border-width: 1px; */
    }   
 
    
#pageContext {
    grid-area: secTitle;
    align-items: start;
    height: 6vh;
} 

#pageTitle {
    grid-area: pTitle;
    align-self: end;
}

#summary {
    grid-area: su;
    overflow-wrap: anywhere;
}

#suTxt1 {
    grid-area: text1;
    flex-direction: column;
}

#headBullets {
    grid-area: bull;
}

#imageSummaryTitle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: ;
    column-gap: 16px;
    grid-template-areas: "t2 t2 . . . . . . . . . .";
/*     margin-top: 3vh; */
    padding-bottom: 2vh;
    }  

#imgSuTi {
    grid-area: t2;
}

#protoCarousel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    grid-template-areas: ". caro caro caro . text text text text text text .";
/*  margin-top: 3vh; */
    padding-bottom: 2vh;
    border-bottom: #FFBB25;
    border-style: dotted;
    border-width: 1px;
/*  max-height: 50vh; */
} 

#protoCarousel2 {
    grid-area: caro;
    width: 100%;

}

#caroText {
    grid-area: text;
    align-content: space-between;
    flex-wrap: wrap;
}

